/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP (1000) [payment_transaction_type]
      ,[order_number]
      ,[urn]
      ,[case_header_number]
      ,[payment_line_number]
      ,[payment_method_code]
      ,[payment_amount]
      ,[payment_date]
      ,[payment_status]
      ,[payment_card_type]
      ,[payment_card_number]
      ,[payment_card_holder_name]
      ,[payment_card_issue_number]
      ,[payment_card_start_date]
      ,[payment_card_expiry_date]
      ,[authorisation_code]
      ,[datacash_transaction_ref_number]
      ,[cheque_processed]
      ,[datacash_processed]
      ,[datacash_settled]
      ,[balance_settlement_sent]
      ,[payment_processed_to_interface_file]
      ,[cheque_number]
      ,[reason_code]
      ,[gift_card_serial_number]
      ,[gift_card_security_code]
      ,[payment_attribute_1]
      ,[payment_attribute_2]
      ,[payment_attribute_3]
      ,[payment_attribute_4]
      ,[payment_attribute_5]
      ,[payment_attribute_6]
      ,[payment_attribute_7]
      ,[payment_attribute_8]
      ,[payment_attribute_9]
      ,[payment_attribute_10]
      ,[payment_attribute_11]
      ,[payment_attribute_12]
      ,[payment_UID]
      ,[task_header_number]
      ,[gift_card_sent_for_reconciliation]
      ,[gift_card_activation_attemps]
      ,[misc_credit_exceeded]
      ,[payee_name]
      ,[payee_title]
      ,[payee_address_name]
      ,[payee_building_name]
      ,[payee_address_number]
      ,[payee_address_street]
      ,[payee_address_locality]
      ,[payee_address_posttown]
      ,[payee_county]
      ,[payee_postcode]
      ,[payee_country_code]
      ,[payment_user_id]
      ,[datacash_resonse_code]
      ,[currency_type]
      ,[whisper_id]
      ,[payment_transaction_id]
      ,[payment_attempt_id]
      ,[payment_token]
      ,[credit_level]
      ,[liability_code]
      ,[approval_code]
      ,[summary]
      ,[ap_transaction_id]
      ,[ap_payment_id]
  FROM [Synergy_Prod].[dbo].[Payment_Header]


  where payment_date  >  '2019-12-07 00:00:00.000'   and payment_transaction_type  in ('RR', 'RC')  AND ORDER_NUMBER LIKE '2%'  order by payment_date asc